.no-webp .inicio{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
}
.webp .inicio{
    background-image: url(../img/header.webp);
    background-repeat: no-repeat;
}

.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;
    &.inicio{
        min-height: 40rem;
        background-size: cover;
        background-position: center center;
        @include tablet{
            min-height: 40rem;
        }
        .contenido-header{
            min-height: 70rem;
            @include tablet{
                min-height: 40rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        text-align: center;
        color:$blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 60rem;
        @include tablet{
            text-align: center;
        }
    }
}